:root {
    font-size: 12px;
}
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}
@media (min-width: 375px) and (max-width: 992px){
    :root { 
        font-size: calc( 12px + (20 - 12) * ( (100vw - 375px) / ( 992 - 375) ));
    }
}
@media (min-width: 992px){
    :root {
        font-size: 20px;
    }
}
.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#event-container, #add-new-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.base-event {
    margin: 1rem auto;
    width: 50rem; 
    max-width: 75%;
}

.base-event-header {
    height: 100%;
}

#add-new-btn {
    margin: 0 auto;
}

.card-body * {
    margin-bottom: 0.75rem;
}

.event-button-container {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.event-button-container button {
    margin: 0;
}

.color-green {
    color: #32bea7;
}

.btn-green {
    color: white;
    background-color: #32BEA7;
}
.btn-green:hover {
    color: white;
    background-color: #21AA93;
}
.edit-event-button, .edit-activity-button {
    position: absolute;
    right: 1.25rem;
    color: #007bff;
    cursor: pointer;
}
.edit-event-button:hover, .edit-activity-button:hover {
    color: #0056b3
}
.activity-name-input,.activity-content,.edit-activity-button,.activity-button-container,.event-button-container {
    margin: 0;
}
.activity-button-container {
    text-align: right;
    margin-bottom: -24px;
}
.activity-button-container * {
    margin-bottom: 0;
}
.event-button-container {
    margin-bottom: -10px;
}

.edit-button, .save-button, .cancel-button {
    position: fixed;
    bottom: 0.5rem;
}
.edit-button {
    right: 0.5rem;
}
.save-button {
    right: 5.5rem;
}
.cancel-button {
    right: 0.5rem;
}
.card-header {
    margin-bottom: 0;
}
#plan-title-input {
    width: 50rem;
    max-width: 75%;
    margin: auto;
    height: 3.75rem;
    font-size: 2rem;
    text-align: center;
}