:root {
    font-size: 12px;
}
html,body {
    height: 100%;
    width: 100%;
    margin: 0;
}
@media (min-width: 375px) and (max-width: 992px){
    :root { 
        font-size: calc( 12px + (20 - 12) * ( (100vw - 375px) / ( 992 - 375) ));
    }
}
@media (min-width: 992px){
    :root {
        font-size: 20px;
    }
}
.wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.event-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.base-event {
    margin: 2rem auto 1rem;
    width: 50rem; 
    max-width: 75%;
}

.base-event-header {
    height: 100%;
}

#add-new-btn {
    margin: 0 auto;
}

.card-body * {
    margin-bottom: 0.75rem;
}

.button-container {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.button-container button {
    margin: 0;
}

.color-green {
    color: #32bea7;
}

.btn-green {
    color: white;
    background-color: #32BEA7;
}
.btn-green:hover {
    color: white;
    background-color: #21AA93;
}